
/* 身体部分 */


/* 轮播图 */
.swiper-container{
    min-width: 1200px;
    height: 535px;
}
.banner-inner{
    width: 1200px;
    height: 535px;
}
/* 立即充值部分 */
.money{
    min-width: 1200px;
    height: 72px;
}
.money-inner{
    width: 1200px;
    height: 72px;
    /* margin-top: 19px; */
    display: flex;
    align-items: center;
    margin-top: 20px;
}


/* 秒杀区 */
.sekkill ul{
    width: 1210px;
    height: 372px;
    display: flex;
    margin-top: 10px;
}
.sekkill ul li a{
    display: block;
    width: 232px;
    height: 327px;
    margin-right: 10px;
}
.miaosha-productname{
    width: 232px;
    height: 45px;
    margin-top: 10px;
    font-size: 18px;
}
.miaosha-price{
    width: 232px;
    height: 40px;
    position: relative;
}
/* 删除旧价格 */
.del-oldprice{
    display: block;
    color: #d3d3d3;
    font-size: 14px;
    text-decoration: line-through;
    font-weight: normal;
}
.miaosu-nowprice{
    display: block;
    color: #bb2b34;
    font-size: 16px;
}
.miaosu-afterdeposit{
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 16px;
    font-weight: normal;
}
.miaosu-afterdeposit em{
    font-size: 24px;
    font-weight: bolder;
    color: #bb2b34;
    font-style: normal;
}

/* 核心内容区 */
.content{
    width: 1200px;

}
/* 倒计时 */
.daotime{
    width: 1200px;
    height: 64px;
    margin-top: 30px;
    background: url(../images/daotime.jpg) no-repeat;
}
.timecounting{
    background: #bd0210;
    margin-left: 20px;
    float: right;
    padding-right: 30px;
    margin-left: 20px;
    padding-right: 30px;
    width: 400px;
    height: 64px;
    display: flex;
    align-items: center;
}
.time-item strong {
    background:rgb(26, 25, 25);
    color:#fff;
    line-height:49px;
    font-size:36px;
    font-family:Arial;
    padding:0 10px;
    margin-right:10px;
    border-radius:5px;
    box-shadow:1px 1px 3px rgba(0,0,0,0.2);
}
#day_show {
    float:left;
    line-height:49px;
    color:#f5afb3;
    font-size:32px;
    margin:0 10px;
    font-family:Arial,Helvetica,sans-serif;
}
.item-title .unit {
    background:none;
    line-height:49px;
    font-size:24px;
    padding:0 10px;
    float:left;
}
/*
#holder{
     margin:140px auto 0 auto; 
    width:400px;
    height:64px;
}
.cntSeparator{
    display:block;
    color:#fff;
    font-size:32px;
    font-weight:300;
    text-align:center;
    width:10px;
}
*/
.wordbox{
    color: white;
    font-size: 24px;
    line-height: 64px;
}
.double12{
    width: 100%;
    height: 51px;
    margin: 29px 0 10px 0;
}
/* 裤装 */
.kuzhuanglist{
    width: 1200px;
    height: 638px;
}
.kuzhuanglist h2{
    text-align: center;
    line-height: 50px;
    margin: 30px 0;
    color: #9a9a9a;
    font-size: 18px;
}
.kuzhuanglist ul li{
    width: 285px;
    height: 508px;
    float: left;
    /* display: block; */
    margin-right: 20px;
    margin-bottom: 20px;
}
.kuzhuanglist ul li a{
    width: 285px;
    height: 438px;
    display: block;
}
.kuzhuanglist ul li h3{
    height: 28px;
    padding: 20px 12px;
    line-height: 28px;
    border-top: 0px;
    font-size: 14px;
    border: 1px solid #e8e7ec;
}
.kuzhuanglist ul li h3 span{
    color: #bb2b34;
    line-height: 24px;
    font-size: 14px;
    float: right;
}
.kuzhuanglist ul li h3 span em{
    color: #bb2b34;
    line-height: 16px;
}


/* 更多精品 */
.otherlist{
    width: 1200px;
    height: 710px;
}
.otherlist h2{
    text-align: center;
    line-height: 50px;
    margin: 20px 0;
    color: #9a9a9a;
    font-size: 18px;
}
.otherlist ul li a{
    width: 385px;
    height: 275px;
    display: block;
    float: left;
}





/* .header-nav>ul{
} */


