@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{
	margin:0;
	padding:0;
	/* 清除内外边距 */	
}
body,html{
	font:12px "微软雅黑",Arial; /* 设置全局基础字号和字体 */	
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;			/* 取消所有加粗 */
	font-size:100%;				/* 设置字体与父元素字体大小相同 */
}
i,em{
	font-style:normal;			/* 取消倾斜 */
}
li{
	list-style:none;			/* 取消项目符号 */
}
a{
	color:#666;					/* 设置超链接默认颜色 */
	text-decoration:none;		/* 取消下划线 */
}
input{
	outline:none;	
}
.clearfix{
	*zoom:1;	
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	overflow:hidden;
	clear:both;	
}